<h1>Enter New Contact</h1>

<form action="/contact_added" mehtod="post">

  <label for="contact-name">Name:</label>
  <input id="contact-name" type="text" name= "contact-name">

  <label for="contact-phoneNumber">Phone Number:</label>                  <input id="contact-phoneNumber" type="text" name="phoneNumber">

  <label for="contact-address">Address:</label>
  <input id="contact-address" type="text" name="contact-address">


  <button type= "submit">Add</button>
</form>
